<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="spring-dao.xml"/>
    <import resource="spring-redis.xml"/>

    <context:component-scan base-package="dao" />


    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="login.html"/>
        <property name="unauthorizedUrl" value="403.html"/>
        <property name="filterChainDefinitions">
            <value>
                /login.html = anon
                /subLogin = anon
                /* = authc
            </value>
        </property>
    </bean>


    <!--创建SecurityMananger对象-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--设置自定义Realm-->
        <property name="realm" ref="realm"/>
        <!--自定义Session Manager-->
        <property name="sessionManager" ref="sessionManager"/>
        <!--自定义cacheManager-->
        <property name="cacheManager" ref="cacheManager"/>
        <!--Shiro 自带rememberMe-->
        <property name="rememberMeManager" ref="cookieRememberMeManager"/>
    </bean>

    <!--DefaultSessionManager-->
    <!--<bean class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager" id="sessionManager">-->
        <!--<property name="sessionDAO" ref="redisSessionDao"/>-->
    <!--</bean>-->

    <!--自定义SessionManager-->
    <bean class="session.CustomSessionManager" id="sessionManager">
        <property name="sessionDAO" ref="redisSessionDao"/>
    </bean>

    <!--自定义SessionDAO-->
    <bean class="session.RedisSessionDao" id="redisSessionDao"/>

    <!--自定义过滤器-->
    <bean class="filter.RolesOrFilter" id="rolesOrFilter"/>


    <!--定义自定义的Realm-->
    <bean id="realm" class="realm.CustomRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>

    <!--设置加密的算法-->
    <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher"
          id="credentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="1"/>
    </bean>

    <!--自定义cacheManager-->
    <bean class="cache.RedisCacheManager" id="cacheManager"/>

    <!--Shiro自带的CookieRememberMeManager-->
    <bean class="org.apache.shiro.web.mgt.CookieRememberMeManager" id="cookieRememberMeManager">
        <property name="cookie" ref="simpleCookie"/>
    </bean>

    <!--Shiro 自带 cookie对象-->
    <bean class="org.apache.shiro.web.servlet.SimpleCookie" id="simpleCookie">
        <constructor-arg value="rememberMe"/>
        <property name="maxAge" value="20000"/>
    </bean>

</beans>